
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/FoodLayout.cshtml";
}
<div class="row">
    <div class="col-md-12 alert alert-success text-center">
        <h2>Hesabınız Başarı ile Oluşturuldu.</h2>
        <p>Artık Sitemize Giriş Yapabilirsiniz.</p>
        <hr />
        <p>Teşekkürler</p>
    </div>
</div>

