
<li class="nav-item">
    <a class="nav-link" href="/AdminMessage/UserMessage">
        <span class="menu-title">Özel Mesajlar</span>
        <i class="menu-icon"><span class="badge bg-warning float-right" style="color:black">@ViewBag.d</span></i>
    </a>
</li>