@model MvcHomeKitchen.Models.Concrete.Category
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="container">
    <form class="form-group" method="post">
        <label><b>Resim</b></label>
        @Html.TextBoxFor(x => x.PhotoUrl, new {@class="form-control"})
        <br/>
        <label><b>Kategori Adı</b></label>
        @Html.TextBoxFor(x => x.Name, new {@class="form-control"})
        <br/>
        <div class="form-group">
            <button type="submit" class="btn btn-danger float-right">Kaydet ve Ekle</button>
            <a href="/AdminCategory/Index" class="btn btn-default" style="background-color:blueviolet;color:white">Vazgeç</a>
        </div>
        
    </form>
</div>

