@model MvcHomeKitchen.Models.Concrete.Category
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="container">
    @using(Html.BeginForm("Update","AdminCategory",FormMethod.Post))
    { 
        @Html.HiddenFor(x=>x.CategoryId)
        <label><b>Resim</b></label>
        @Html.TextBoxFor(x => x.PhotoUrl, new { @class = "form-control" })
        <br />
        <label><b>Kategori Adı</b></label>
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
        <br />
        <div class="form-group">
            <button type="submit" class="btn btn-default float-right" style="background-color:orange;color:white">Güncelle</button>
            <a href="/AdminCategory/Index" class="btn btn-default" style="background-color:blueviolet;color:white">Vazgeç</a>
        </div>

    }
</div>

