@model MvcHomeKitchen.Models.Concrete.RecipeBook
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="container">
    @using (Html.BeginForm("Update", "AdminRecipeBook",FormMethod.Post))
    {
        @Html.HiddenFor(x=>x.RecipeBookId)
        <label><b>Defter Adı</b></label>
        @Html.TextBoxFor(x => x.BookName, new { @class = "form-control" })
        <br />
        <label><b>Yazar Adı</b></label>
        @Html.DropDownListFor(x => x.WriterId, (List<SelectListItem>)ViewBag.w, new { @class = "form-control" })
        <br />
        <div class="form-group">
            <button type="submit" class="btn btn-warning float-right">Güncelle</button>
            <a href="/AdminRecipeBook/Index" class="btn btn-danger">Vazgeç</a>
        </div>
    }
</div>

