 
<li class="nav-item">
    <a class="nav-link" href="/WriterProfile/UpdateProfile/@ViewBag.d1">
        <span class="menu-title">Profili Düzenle</span>
        <i class="fas fa-edit menu-icon"></i>
    </a>
</li>
