@model MvcHomeKitchen.Models.Concrete.Admin
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="container">
    <form class="form-group" method="post">
        <label><b>E-mail</b></label>
        @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
        <br />
        <label><b>Şifre</b></label>
        @Html.TextBoxFor(x => x.Password, new { @class = "form-control" })
        <br />
        <label><b>Rol</b></label>
        @Html.TextBoxFor(x => x.Role, new { @class = "form-control" })
        <br />
        <div class="form-group">
            <button type="submit" class="btn btn-success float-right">Admin Ekle</button>
            <a href="/Admin/Index" class="btn btn-danger">Vazgeç</a>
        </div>
    </form>
</div>


